addict
aiohappyeyeballs
aiohttp
aiosignal
antlr4-python3-runtime
async-timeout
attrs
braceexpand
Brotli
certifi
cffi
charset-normalizer
chumpy
contourpy
cycler
Cython
einops
ema-pytorch
filelock
fonttools
freetype-py
frozenlist
fsspec
glcontext
gmpy2
h2
hf-xet
hpack
huggingface_hub
Hydra
hydra-core
hyperframe
idna
imageio
imgui
importlib_resources
iopath
Jinja2
joblib
json-tricks
kiwisolver
lazy_loader
lightning-utilities
loguru
markdown-it-py
MarkupSafe
matplotlib
mdurl
mmcv
moderngl
moderngl-window
mpmath
multidict
multipledispatch
munkres
networkx
numpy
omegaconf
opencv-python
packaging
pillow
platformdirs
portalocker
propcache
pycocotools
pycparser
pyglet
Pygments
PyOpenGL
pyparsing
pyrender
pyrr
PySocks
python-dateutil
pytorch-lightning
PyWavelets
PyYAML
requests
rich
roma
safetensors
scikit-image
scipy
six
sympy
termcolor
thop
tifffile
timm
tomli
torch
torchmetrics
torchvision
tqdm
trimesh
triton
typing_extensions
urllib3
usd-core
webdataset
websockets
xtcocotools
yacs
yapf
yarl
zipp
zstandard
